# Composer
composer.lock
/vendor

# Node
/node_modules
package-lock.json
# but the docs app's lockfile must be committed for reproducible container builds
!/apps/docs/package-lock.json
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# Editors
/.idea
/.fleet
/.vscode

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/coverage
